// Name:            Animation
// Description:     Component to create animation
//
// Component:       `uis-animate`
//
// Sub-objects:     `uis-animate-fadeIn`
//                  `uis-animate-fadeOut`
//
// Modifiers:       `uis-animate-infinite`
//                  `uis-animate-delay-1s`
//                  `uis-animate-delay-2s`
//                  `uis-animate-delay-3s`
//                  `uis-animate-delay-4s`
//                  `uis-animate-delay-5s`
//                  `uis-animate-duration-slower`
//                  `uis-animate-duration-slow`
//                  `uis-animate-duration-fast`
//                  `uis-animate-duration-faster`
//
// ========================================================================

// Variables
// ========================================================================



/* ==================================================
  Component: Animation
 ================================================== */

/*
 * Animation fill mode from `both` to `none`
 * It causes bug in transform and z-index
 */

.uis-animate {
    animation-duration: 1s;
    animation-fill-mode: none;
}

.uis-animate-infinite {
    animation-iteration-count: infinite;
}



/* Style modifiers
================================================== */

/*
* Animation Delay
*/

.uis-animate-delay-500ms {
    animation-delay: 0.5s;
}

.uis-animate-delay-1s {
    animation-delay: 1s;
}

.uis-animate-delay-2s {
    animation-delay: 2s;
}

.uis-animate-delay-3s {
    animation-delay: 3s;
}

.uis-animate-delay-4s {
    animation-delay: 4s;
}

.uis-animate-delay-5s {
    animation-delay: 5s;
}


/*
* Animation Duration
*/

.uis-animate-duration-slower {
    animation-duration: 3s;
}

.uis-animate-duration-slow {
    animation-duration: 2s;
}

.uis-animate-duration-fast {
    animation-duration: 800ms;
}

.uis-animate-duration-faster {
    animation-duration: 500ms;
}


/* Fade
================================================== */

/* Fade In */
.uis-animate-fade-in {
    animation-name: fadeIn;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Fade Out */
.uis-animate-fade-out {
    animation-name: fadeOut;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}



/* Rotate
================================================== */

.uis-animate-rotate {
    animation-name: rotating;
    animation-timing-function: linear;
}

@keyframes rotating {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}



/* Slide
================================================== */

/* Slide In Down */
.uis-animate-slide-in-down {
    animation-name: slideInDown;
}

@keyframes slideInDown {
    from {
        transform: translate3d(0, -100%, 0);
        visibility: visible;
        opacity: 0;
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

/* Slide In Down */
.uis-animate-slide-in-up {
    animation-name: slideInUp;
}

@keyframes slideInUp {
    from {
        transform: translate3d(0, 100%, 0);
        visibility: visible;
    }
    to {
        transform: translate3d(0, 0, 0);
    }
}

/* Slide In Down */
.uis-animate-slide-in-left {
    animation-name: slideInLeft;
}

@keyframes slideInLeft {
    from {
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
        opacity: 0;
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

/* Slide Out Up */
.uis-animate-slide-out-up {
    animation-name: slideOutUp;
}

@keyframes slideOutUp {
    from {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
    to {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
    }
}
