// Name:            Width
// Description:     Component to create boxed content containers
//
// Component:       `uis-child-width-*`
//                  `uis-width-*`
//                  `uis-width-fit-content`
//
// ========================================================================


/* ==================================================
    Component: Width
   ================================================== */


/* Equal child widths
   ================================================== */

@include create-child-width-with-breakpoints;



/* Single widths
   ================================================== */

@include create-width-with-breakpoints;



/* Pixel based widths
   ================================================== */

@include create-width-pixel-based;



/* Fit Content
   ================================================== */

.uis-width-fit-content {
    width: fit-content;
}

[class*='uis-width'] {
    transition: all 0.3s ease-in;
}
