// Name:            Datepicker
// Description:     Component to create datepicker
//
// Component:       `uis-datepicker`
//
// Modifiers:       `uis-datepicker-middle`
//                  `uis-table-divider`
//
// States:          `uis-open`,
//                  `uis-mark`
//                  `uis-active`
//
// ========================================================================

// Variables
// ========================================================================

$datepicker-z-index:                            layer(dropdown) !default;
$datepicker-min-width:                          200px !default;
$datepicker-padding:                            25px !default;
$datepicker-background:                         color(inverse) !default;
$datepicker-margin:                             margin(small) !default;

$datepicker-title-font-size:                    font-size(large) !default;
$datepicker-title-font-weight:                  bold !default;
$datepicker-title-color:                        color(emphasis) !default;

$datepicker-nav-padding-vertical:               6px !default;
$datepicker-nav-padding-horizontal:             6px !default;   
$datepicker-nav-item-color:                     color(muted) !default;
$datepicker-nav-item-hover-color:               color(default) !default;   

$datepicker-header-cell-padding-vertical:       10px !default;
$datepicker-header-cell-padding-horizontal:     8px !default;
$datepicker-header-cell-font-size:              font(font-size) !default;
$datepicker-header-cell-font-weight:            bold !default;
$datepicker-header-cell-color:                  color(default) !default;

$datepicker-data-cell-height:                   control-height(small) + 10px !default;
$datepicker-data-cell-width:                    control-height(small) + 10px !default;
$datepicker-data-cell-line-height:              control-height(small) + 10px !default;
$datepicker-data-cell-font-size:                font(font-size) !default;
$datepicker-data-cell-font-weight:              lighter !default;
$datepicker-data-cell-color:                    color(default) !default;

$datepicker-data-cell-disabled-color:           color(muted) !default;

$datepicker-data-cell-hover-color:              color(emphasis) !default;

$datepicker-data-cell-active-background:        color(primary) !default;
$datepicker-data-cell-active-color:             color(inverse) !default;
$datepicker-data-cell-active-border-radius:     border(border-radius) !default;

$datepicker-data-cell-mark-color:               color(primary) !default;

$datepicker-box-shadow:                         box-shadow(medium) !default;

/* ==================================================
    Component: Dropdown
   ================================================== */ 

/*
 * 1. Hide by default
 * 2. Set position
 * 3. Set a default width
 * 4. Style
 */

.uis-datepicker-container{
    /* 1 */
    display: none;
    /* 2 */
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: layer(modal);
    /* 3 */
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);

    transition: 0.3s linear;
    transition-property: opacity, transform;
}

.uis-datepicker-container.uis-open{
    opacity: 1;
}

.uis-datepicker{
    /* 1 */
    display: none;
    /* 2 */
    position: relative;
    margin: 0 auto;
    width: 400px;
    z-index: $datepicker-z-index;
    /* 3 */
    box-sizing: border-box;
    padding: $datepicker-padding;
    background: $datepicker-background;
    margin-top: $datepicker-margin;
    box-shadow: $datepicker-box-shadow;
}

@include respond-to-max(small){
    .uis-datepicker{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;

        margin-left: 15px;

        height: fit-content;
    }
}

/* Show */
.uis-datepicker.uis-open{
    display: block;
}

/* Dropup */
.uis-datepicker.uis-datepicker-dropup{
    top: auto;
    bottom: 0!important;
}


/* Header
   ================================================== */

.uis-datepicker-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: margin(global);
}



/* Action
   ================================================== */

.uis-datepicker-action{
    margin-top: 18px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.uis-datepicker-action > *:first-child {
    text-align: left;
}

.uis-datepicker-action > *:last-child {
    text-align: right;
}


/*
 * Items
 */

.uis-datepicker-action > button{
    background: transparent;
    color: color(muted);

    border: none;
    transition: all 0.3s ease-in-out;
}

/* hover + active*/
.uis-datepicker-action > button:hover,
.uis-datepicker-action > button:active{
    color: color(default);
    cursor: pointer;
}

/* Focus */
.uis-datepicker-action > button:focus{
    color: color(emphasis);
    outline: none;
}




/* Table
   ================================================== */

/*
 * 1. Remove most spacing between table cells.
 * 2. Behave like a block element
 */

.uis-datepicker-table{
    border-collapse: collapse;
    border-spacing: 0;
    /* 2 */
    width: 100%;
}



/*
 * Header cell
 * 1. Style
 */
.uis-datepicker-table th{
    padding: $datepicker-header-cell-padding-horizontal $datepicker-header-cell-padding-vertical;
    text-align: center;
    vertical-align: bottom;
    /* 1 */
    font-size: $datepicker-header-cell-font-size;
    font-weight: $datepicker-header-cell-font-weight;
    color: $datepicker-header-cell-color;
    text-transform: uppercase;
}

@include respond-to-max(small){
    .uis-datepicker-table th{
        padding: 0px;
        font-size: font-size(small);
    }
}



/*
 * Date Cell
 */

.uis-datepicker-table td{
    text-align: center;
}

/*
 * Data Cell Item
 * 1. Remove margins in Chrome, Safari, and Opera.
 * 2. Remove borders for `button`
 * 3. Address `overflow` set to `hidden` in IE.
 * 4. Correct `font` properties and `color` not being inherited for `button`
 * 5. Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 6. Style
 * 7. `line-height` is used to create a height because it also centers the text vertically for `a` elements.
 *      Better would be to use height and flexbox to center the text vertically but flexb ox doesn't work in Firefox on `button` elements.
 * 8. Align text if button has a width.
 * 9. Transition for chaging background when `active and hover`
 */
.uis-datepicker-table td > button{
    /* 1 */
    margin: 0;
    /* 2 */
    border: none;
    /* 3 */
    overflow: visible;
    /* 4 */
    font: inherit;
    color: $datepicker-data-cell-color;
    /* 5 */
    text-transform: none;
    /* 6 */
    background: transparent;
    // padding: $datepicker-data-cell-padding-horizontal $datepicker-data-cell-padding-vertical;
    height: $datepicker-data-cell-height;
    width: $datepicker-data-cell-width;
    line-height: $datepicker-data-cell-line-height;
    vertical-align: middle;
    font-size: $datepicker-data-cell-font-size;
    font-weight: $datepicker-data-cell-font-weight;
    color: $datepicker-data-cell-color;
    outline: none;
    /* 7 */
    // line-height: control-height(medium);
    /* 8 */
    text-align: center;
    /* 9 */
    transition: all 0.3 ease;
}

@include respond-to-max(small){
    .uis-datepicker-table td > button{
        height: 30px;
        width: 30px;
        font-size: font(font-size);
        line-height: font(font-size);
    }
}

.uis-datepicker-table td > button:not(:disabled){
    cursor: pointer;
}

/*
 * Remove the inner border and padding in Firefox
 */

.uis-datepicker-table td > button::-moz-focus-inner{
    border: 0;
    padding: 0;
}

/* Hover */
.uis-datepicker-table td > button:hover{
    color: $datepicker-data-cell-hover-color; 
}

/* Focus */
.uis-datepicker-table td > button:focus,
.uis-datepicker-table td > button.uis-active{
    background: $datepicker-data-cell-active-background;
    border-radius: $datepicker-data-cell-active-border-radius;
    color: $datepicker-data-cell-active-color; 
}

/* Mark */
.uis-datepicker-table td > button.uis-mark:not(.uis-active):not(:focus){
    color: $datepicker-data-cell-mark-color;
    font-weight: bold;
}

/* Disabled */
.uis-datepicker-table td > button:disabled{
    color: $datepicker-data-cell-disabled-color;
    cursor: not-allowed;
}