// Name:            Dropdown
// Description:     Component to create dropdown menus
//
// Component:       `uis-dropdown`
//
// Adopted:         `uis-dropdown-nav`
//
// Modifiers:       `uis-dropdown-top-*`
//                  `uis-dropdown-bottom-*`
//                  `uis-dropdown-left-*`
//                  `uis-dropdown-right-*`
//                  `uis-dropdown-stack`
//                  `uis-dropdown-grid`
//
// ========================================================================


// Variables
// ========================================================================

$dropdown-z-index:                              layer(dropdown)         !default;
$dropdown-min-width:                            200px                   !default;
$dropdown-padding:                              25px                    !default;
$dropdown-background:                           color(inverse)          !default;
$dropdown-color:                                color(default)          !default;
$dropdown-margin:                               margin(small)           !default;

$dropdown-nav-item-color:                       color(muted)            !default;
$dropdown-nav-item-hover-color:                 color(default)          !default;
$dropdown-nav-header-color:                     color(emphasis)         !default;

$dropdown-nav-divider-border-width:             border(border-width)    !default;
$dropdown-nav-divider-border:                   border(border-color)    !default;
$dropdown-nav-sublist-item-color:               color(muted)            !default;
$dropdown-nav-sublist-item-hover-color:         color(default)          !default;

$dropdown-box-shadow:                           box-shadow(medium)      !default;

/* ==================================================
    Component: Dropdown
   ================================================== */ 
   
/*temporary*/
.uis-dropdown-container{
    width: fit-content;
}

/*
 * 1. Hide by default
 * 2. Set position
 * 3. Set a default width
 * 4. Style
 */

.uis-dropdown{
    /* 1 */
    display: none;
    /* 2 */
    position: absolute;
    top: 0;
    z-index: $dropdown-z-index;
    /* 3 */
    box-sizing: border-box;
    min-width: $dropdown-min-width;
    /* 4 */
    padding: $dropdown-padding;
    background: $dropdown-background;
    color: $dropdown-color;
    box-shadow: $dropdown-box-shadow;
}

@include respond-to-max(small){
    .uis-dropdown{
        position: fixed;
        top: auto;
        bottom: 0;
        left: 0;
        right: 0;

        transform: translateY(100%);

        width: 100%;
        margin-left: 0px!important;
        z-index: layer(lightbox) + 100;

        transition: all 0.3s ease-in-out;
    }

    .uis-dropdown.uis-slideup{
        transform: translateY(0%);
    }

    body.uis-dropdown-open::before{
        content: '';
        background: #000000;
        opacity: 0;
        position: fixed;
        height: 100uis;
        width: 100%;
        left: 0;
        box-sizing: border-box;

        z-index: layer(lightbox);
        overflow-y: hidden;

        transition: all 0.3s ease-in-out;
    }

    body.uis-dropdown-open.uis-open::before{
        opacity: 0.3;
    }



    html.uis-dropdown-open-container{
        overflow: hidden;
    }
}

.uis-dropdown.uis-dropup{
    top: auto;
    bottom: 0!important;
}

/* Show */
.uis-dropdown.uis-open{
    display: block;
}

[uis-dropdown]{
    // float: right;
    position: relative;
    // top: 15px;
    // right: 25px;
}

[uis-dropdown] > i{
    color: color(muted);
    cursor: pointer;
    transition: all 0.15s linear;
}

[uis-dropdown]:hover > i{
    color: color(default);
}

[uis-dropdown] > .uis-dropdown-button{
    height: 40px;
    width: 40px;
    
    background-color: color(inverse);
    border-radius: 4px;
    border: 1px solid #999999;

    cursor: pointer;

    transition: all 0.3s ease-in-out;
    outline: none;
}


[uis-dropdown]:hover > .uis-dropdown-button{
    border-color: color(default);
    outline: none;
}

/* Nav
 * Adopts `uis-nav`
   ================================================== */

.uis-dropdown-nav{
    white-space: nowrap;
}

/*
 * Items
 */

.uis-dropdown-nav > li > a{
    color: $dropdown-nav-item-color;
}

/* Hover + Focus + Active */
.uis-dropdown-nav > li > a:hover,
.uis-dropdown-nav > li > a:focus,
.uis-dropdown-nav > li.uis-active > a{
    color: $dropdown-nav-item-hover-color;
}

/*
 * Header
 */

.uis-dropdown-nav .uis-nav-header{
    color: $dropdown-nav-header-color
}

/*
 * Divider
 */

.uis-dropdown-nav .uis-nav-divider{
    border-top: $dropdown-nav-divider-border-width solid $dropdown-nav-divider-border;
}

/*
 * Sublists
 */

.uis-dropdown-nav .uis-nav-sub a{
    color: $dropdown-nav-sublist-item-hover-color !important;
}

/* Hover + Focus */
.uis-dropdown-nav .uis-nav-sub a:hover,
.uis-dropdown-nav .uis-nav-sub a:focus{
    color: $dropdown-nav-sublist-item-hover-color !important
}


/* Direction / Alignment modifiers
   ================================================== */

/* Direction */
[class*='uis-dropdown-top']{
    margin-top: (-$dropdown-margin);
}

[class*='uis-dropdown-bottom']{
    margin-top: $dropdown-margin;
}

[class*='uis-dropdown-left']{
    margin-left: (-$dropdown-margin);
}

[class*='uis-dropdown-right']{
    margin-left: $dropdown-margin;
}

.uis-dropdown-right{
    right: 0;
}

.uis-dropdown-left{
    left: 0;
}



/* Grid modifiers
   ================================================== */

.uis-dropdown-stack .uis-dropdown-grid > *{
   width: 100% !important;
}