// Name:            Navbar
// Description:     Component to create horizontal navigation bars
//
// Component:       `uis-navbar`
//
// Sub-objects:     `navbar-container`
//                  `navbar-left`
//                  `navbar-right`
//                  `navbar-center`
//
// Adopted:         `uis-navbar-dropdown` + Modifiers
//                  `uis-navbar-dropdown-nav`
//                  `uis-navbar-dropdown-grid`
//                  `uis-navbar-toggle-icon`
//
// Modifiers:       `uis-navbar-sticky`
//
// States:          `uis-active`
//                  `uis-parent`
//                  `uis-open`
//
//
// ========================================================================


// Variables
// ========================================================================

$navbar-background:                         color(inverse) !default;
$navbar-color-mode:                         none !default;

$navbar-nav-item-height:                    30px !default;
$navbar-nav-item-padding-horizontal:        15px !default;
$navbar-nav-item-font-size:                 font(font-size) !default;
$navbar-nav-item-font-family:               font(font-family) !default;

$navbar-nav-item-color:                     color(muted) !default;
$navbar-nav-item-hover-color:               color(primary) !default;
$navbar-nav-item-onclick-color:             color(primary) !default;
$navbar-nav-item-active-color:              color(primary) !default;

$navbar-nav-item-inverse-color:             transparentize(color(inverse), 0.2) !default;
$navbar-nav-item-inverse-hover-color:       color(inverse) !default;
$navbar-nav-item-inverse-onclick-color:     color(inverse) !default;
$navbar-nav-item-inverse-active-color:      color(inverse) !default;

$navbar-sticky-z-index:                     layer(navbar) !default;

$navbar-item-color:                         color(default) !default;

$navbar-toggle-color:                       color(muted) !default;
$navbar-toggle-hover-color:                 color(default) !default;

$navbar-subtitle-font-size:                 font-size(small) !default;

$navbar-box-shadow:                         0px 0px 20px #ccc !default;

$navbar-dropdown-z-index:                   layer(dropdown) !default;
$navbar-dropdown-width:                     250px !default;
$navbar-dropdown-margin:                    0 !default;
$navbar-dropdown-padding:                   25px !default;
$navbar-dropdown-background:                color(inverse) !default;
$navbar-dropdown-color:                     color(inverse) !default;
$navbar-dropdown-grid-gutter-horizontal:    gutter(small) !default;
$navbar-dropdown-grid-gutter-vertical:      $navbar-dropdown-grid-gutter-horizontal !default;

$navbar-dropdown-box-shadow:                box-shadow(medium) !default;



/* ==================================================
    Component: Navbar
   ================================================== */

/*
 * 1. Create position context to center navbar group
 */

.uis-navbar{
    display: flex;
    /* 1 */
    position: relative;
}


/* Container
 ========================================================================== */

.uis-navbar-container{
    width: 100%;
    z-index: layer(navbar);
    padding: 20px 0px;
    box-sizing: border-box;

    transition: background 0.3s ease-in-out;
}

.uis-navbar-wrapper{
    max-width: map-get($breakpoint, 'xlarge'); 
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

@include respond-to(small){
    .uis-navbar-wrapper{
        padding-left: gutter(small);
        padding-right: gutter(small);
    }
}

@include respond-to(medium){
    .uis-navbar-wrapper{
        padding-left: gutter(medium);
        padding-right: gutter(medium);
    }
}

@media screen and (min-width: map-get($breakpoint, 'large')) and (max-width: map-get($breakpoint, 'xlarge')){
    .uis-navbar-wrapper{
        max-width: calc(1200px - 40px);
    }
}

.uis-navbar-container:not(.uis-navbar-transparent){
    background: $navbar-background;
    box-shadow: box-shadow(small);
}


/*
 * Remove pseudo elements created by micro clearfix as precaution (if Container component is used)
 */

.uis-navbar-container > ::before,
.uis-navbar-container > ::after{
    display: none !important;
}



/* Fixed
 ========================================================================== */

.uis-navbar-fixed{
    position: fixed;

    top: 0;
    left: 0;
    right: 0;
}

@include respond-to(medium){
    .uis-navbar-fixed.uis-navbar-offset-top{
        top: control-height(medium);
    }
}


/* Groups
 ========================================================================== */

/*
 * 1. Align navs and items vertically if they have a different height
 * 2. Note: IE 11 requires an extra `div` which affects the center selector
 */

.uis-navbar-left,
.uis-navbar-right,
// 2. [class*='uis-navbar-center'],
.uis-navbar-center,
.uis-navbar-center-left > *,
.uis-navbar-center-right > *{
    display: flex;
    /* 1 */
    align-items: center;
}

/*
 * Horizontal alignment
 * 1. Create position context for centered navbar with sub groups (left/right)
 * 2. Needed for dropdowns because a new position context is created
 *    `z-index` must be smaller than off-canvas
 * 3. Fix text wrapping if the centered section is larger than 50% of the navbar
 * 4. Align sub groups for centered navbar
 */

.uis-navbar-right{
    margin-left: auto;
}

.uis-navbar-center:only-child{
    margin-left: auto;
    margin-right: auto;
    /* 1 */
    position: relative;
}

.uis-navbar-center:not(:only-child){
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* 2 */
    z-index: layer(dropdown);
}

/* 3 */
.uis-navbar-center:not(:only-child) .uis-navbar-nav > li > a,
.uis-navbar-center:not(:only-child) .uis-navbar-item,
.uis-navbar-center:not(:only-child) .uis-navbar-toggle{
    white-space: nowrap;
}

/* 4 */
.uis-navbar-center-left,
.uis-navbar-center-right{
   position: absolute;
   top: 0;
}

.uis-navbar-center-left{
    right: 100%;
}

.uis-navbar-center-right{
    left: 100%;
}

[class*='uis-navbar-center-'] .uis-navbar-nav > li > a,
[class*='uis-navbar-center-'] .uis-navbar-item,
[class*='uis-navbar-center-'] .uis-navbar-toggle{
    white-space: nowrap;
}


/* Nav
 ========================================================================== */

/*
 * 1. Reset list
 */

.uis-navbar-nav {
    display: flex;
    /* 1 */
    margin: 0;
    padding: 0;
    list-style: none;
}

/*
 * Allow items to wrap into the next line
 * Only not `absolute` positioned groups
 */

.uis-navbar-left,
.uis-navbar-right,
.uis-navbar-center:only-child{
    flex-wrap: wrap;
}

/*
 * Items
 * 1. Center content vertically and horizontally
 * 2. Dimensions
 * 3. Style
 * 4. Required for `a`
 */

.uis-navbar-nav > li > a,    // Nav item
.uis-navbar-item,            // Content item
.uis-navbar-toggle{         // Clickable item
    /* 1 */
    display: flex;
    justify-content: center;
    align-items: center;
    /* 2 */
    box-sizing: border-box;
    min-height: $navbar-nav-item-height;
    padding: 0 $navbar-nav-item-padding-horizontal;
    /* 3 */
    font-size: $navbar-nav-item-font-size;
    font-family: $navbar-nav-item-font-family;
    /* 4 */
    text-decoration: none;
}

/*
 * Nav items
 */

.uis-navbar-nav > li > a{
    color: $navbar-nav-item-color;
    transition: color 0.3s ease-in-out;
}

/*
 * Hover
 * Apply hover style also to focus state and if dropdown is opened
 */

.uis-navbar-nav > li > a:hover,
.uis-navbar-nav > li > a:focus,
.uis-navbar-nav > li > a.uis-open{
    color: $navbar-nav-item-hover-color;
    outline: none;
}

/* OnClick */
.uis-navbar-nav > li > a:active{
    color: $navbar-nav-item-onclick-color;
}

/* Active */
.uis-navbar-nav > li.uis-active > a{
    color: $navbar-nav-item-active-color;
}


/*
 * Transparent Nav items
 */

.uis-navbar-transparent .uis-navbar-nav > li > a{
    color: $navbar-nav-item-inverse-color;
}

/*
 * Hover
 * Apply hover style also to focus state and if dropdown is opened
 */

.uis-navbar-transparent .uis-navbar-nav > li > a:hover,
.uis-navbar-transparent .uis-navbar-nav > li > a:focus,
.uis-navbar-transparent .uis-navbar-nav > li > a.uis-open{
    color: $navbar-nav-item-inverse-hover-color;
    outline: none;
    transition: all 0.3 ease-in-out;
}

/* OnClick */
.uis-navbar-transparent .uis-navbar-nav > li > a:active{
    color: $navbar-nav-item-onclick-color;
}

/* Active */
.uis-navbar-transparent .uis-navbar-nav > li.uis-active > a{
    color: $navbar-nav-item-inverse-active-color;
}


/* Divider
 ========================================================================== */

.uis-navbar-nav-divider{
    height: 24px;
    border: 0.5px solid rgba(0, 0, 0, 0.1);
    margin-left: 8px;
    margin-right: 8px;
}

.uis-navbar-transparent .uis-navbar-nav .uis-navbar-nav-divider{
    border-color: rgba(255, 255, 255, 0.3);
}


/* Item
 ========================================================================== */

.uis-navbar-item{
    color: $navbar-item-color;
}


/* Toggle
   ================================================== */

.uis-navbar-toggle{
    color: $navbar-toggle-color;
}

.uis-navbar-toggle:hover,
.uis-navbar-toggle:focus,
.uis-navbar-toggle.uis-open{
    color: $navbar-toggle-hover-color;
    outline: none;
    text-decoration: none;
}



/* Style Modifiers
   ================================================== */

.uis-navbar-sticky{
    position: fixed;
    top: 0;
    z-index: layer(navbar);
}



/* Subtitle
 ========================================================================== */

.uis-navbar-subtitle {
    font-size: $navbar-subtitle-font-size;
}



/* Dropdown
 ========================================================================== */

/*
 * Adopts `uk-dropdown`
 * 1. Hide by default
 * 2. Set position
 * 3. Set a default width
 * 4. Style
 */

.uis-navbar-dropdown{
    /* 1 */
    display: none;
    /* 2 */
    position: absolute;
    z-index: $navbar-dropdown-z-index;
    /* 3 */
    box-sizing: border-box;
    width: $navbar-dropdown-width;
    /* 4 */
    padding: $navbar-dropdown-padding;
    background: $navbar-dropdown-background;
    color: $navbar-dropdown-color;
}

/* Show */
.uis-navbar-dropdown.uis-open{
    display: block;
}

/*
 * Direction / Alignment modifiers
 */

/* Direction */
[class*='uis-navbar-dropdown-top']{
    margin-top: (-$navbar-dropdown-margin);
}

[class*='uis-navbar-dropdown-bottom']{
    margin-top: $navbar-dropdown-margin;
}

[class*='uis-navbar-dropdown-left']{
    margin-left: (-$navbar-dropdown-margin);
}

[class*='uis-navbar-dropdown-right']{
    right: 0;
    margin-left: $navbar-dropdown-margin;
}

/*
 * Grid
 * Adopts `uis-grid`
 */

/* Gutter Horizontal */
.uis-navbar-dropdown-grid{
    margin-left: (-$navbar-dropdown-grid-gutter-horizontal);
}

.uis-navbar-dropdown-grid > *{
    padding-left: $navbar-dropdown-grid-gutter-horizontal;
}

/* Gutter Vertical */
.uis-navbar-dropdown-grid > .uis-grid-margin{
    margin-top: $navbar-dropdown-grid-gutter-vertical;
}

/* Stack */
.uis-navbar-dropdown-stack .uis-navbar-dropdown-grid > *{
    width: 100% !important;
}

/*
 * Width modifier
 */

.uis-navbar-dropdown-width-2:not(.uis-navbar-dropdown-stack){
    width: ($navbar-dropdown-width * 2);
}

.uis-navbar-dropdown-width-3:not(.uis-navbar-dropdown-stack){
    width: ($navbar-dropdown-width * 3);
}

.uis-navbar-dropdown-width-4:not(.uis-navbar-dropdown-stack){
    width: ($navbar-dropdown-width * 4);
}

.uis-navbar-dropdown-width-5:not(.uis-navbar-dropdown-stack){
    width: ($navbar-dropdown-width * 5);
}