// Name:            Slider
// Description:     Component to create horizontal sliders
//
// Component:       `uis-slider`
//
// Sub-objects:     `uis-slider-container`
//                  `uis-slider-items`
//
// States:          `uis-active`
//
// ========================================================================


/* ========================================================================
   Component: Slider
 ========================================================================== */

/*
 * 1. Prevent tab highlighting on iOS.
 */

 .uis-slider {
    /* 1 */
    -webkit-tap-highlight-color: transparent;
}


/* Container
 ========================================================================== */

/*
 * 1. Clip child elements
 */

.uis-slider-container {
    /* 1 */
    overflow: hidden;
}

/* Items
 ========================================================================== */

/*
 * 1. Optimize animation
 * 2. Create a containing block. In Safari it's neither created by `transform` nor `will-change`.
 */

.uis-slider-items {
    /* 1 */
    will-change: transform;
    /* 2 */
    position: relative;

    transition: transform 0.5s ease-in-out;
}

/*
 * 1. Reset list style without interfering with grid
 * 2. Prevent displaying the callout information on iOS.
 */

.uis-slider-items:not(.uis-grid) {
    display: flex;
    /* 1 */
    margin: 0;
    padding: 0;
    list-style: none;
    /* 2 */
    -webkit-touch-callout: none;
}

.uis-slider-items.uis-grid {
    flex-wrap: nowrap;
}


/* Item
 ========================================================================== */

/*
 * 1. Let items take content dimensions (0 0 auto)
 * 2. Create position context
 * 3. Disable horizontal panning gestures in IE11 and Edge
 * 4. Suppress outline on focus
 */

.uis-slider-items > * {
    /* 1 */
    flex: none;
    /* 2 */
    position: relative;
    /* 3 */
    touch-action: pan-y;
}

/* 4 */
.uis-slider-items > :focus {
    outline: none;
}