// Name:            Timepicker
// Description:     Component to create timepicker
//
// Component:       `uis-timepicker`
//
//
// States:          `uis-open`,
//                  `uis-active`
//
// ========================================================================

// Variables
// ========================================================================

$timepicker-z-index:                            layer(dropdown) !default;
$timepicker-min-width:                          200px !default;
$timepicker-padding:                            25px !default;
$timepicker-background:                         color(inverse) !default;
$timepicker-margin:                             margin(small) !default;

$timepicker-title-font-size:                    font-size(large) !default;
$timepicker-title-font-weight:                  bold !default;
$timepicker-title-color:                        color(emphasis) !default;

$timepicker-box-shadow:                         box-shadow(medium) !default;

/* ==================================================
    Component: Timepicker
   ================================================== */ 


/*
 * 1. Hide by default
 * 2. Set position
 * 3. Set a default width
 * 4. Style
 */

 .uis-timepicker{
    /* 1 */
    display: none;
    /* 2 */
    position: absolute;
    top: 0;
    z-index: $timepicker-z-index;
    /* 3 */
    padding: $timepicker-padding;
    background: $timepicker-background;
    margin-top: $timepicker-margin;
    box-shadow: $timepicker-box-shadow;
    border-radius: border(border-radius);
}

/* Show */
.uis-timepicker.uis-open{
    display: block;
}

/* Dropup */
.uis-timepicker.uis-timepicker-dropup{
    top: auto;
    bottom: 0!important;
}


/* Label
   ================================================== */

.uis-timepicker-label{
    margin: 0px;
    font-family: inherit;
    font-weight: font-weight(bold);
}



/* Body
   ================================================== */

.uis-timepicker-body{
    margin: 12px 0px;
}

.uis-timepicker-body:first-child{
    margin-top: 0px;
}

.uis-timepicker-body:last-child{
    margin-bottom: 0px;
}



/* Actions
   ================================================== */

.uis-timepicker-action{
    margin-top: 18px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.uis-timepicker-action > *:first-child {
    text-align: left;
}

.uis-timepicker-action > *:last-child {
    text-align: right;
}


/*
 * Items
 */

.uis-timepicker-action > button{
    background: transparent;
    color: color(muted);

    border: none;
    transition: all 0.3s ease-in-out;
}

/* hover + active*/
.uis-timepicker-action > button:hover,
.uis-timepicker-action > button:active{
    color: color(default);
    cursor: pointer;
}

/* Focus */
.uis-timepicker-action > button:focus{
    color: color(emphasis);
    outline: none;
}



/* Item
   ================================================== */


/*
 * 1. Set default margins in Chrome, Safari, and Opera.
 * 2. Remove borders for `button`.
 * 3. Add border-radius.
 * 4. Address `overflow` set to `hidden` in IE.
 * 5. Correct `font` properties not being inherited for `button`.
 * 6. Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 7. Style
 * 8. `line-height` is used to create a height because it also centers the text vertically for `a` elements.
 *      Better would be to use height and flexbox to center the text vertically but flexb ox doesn't work in Firefox on `button` elements.
 * 9. Align text if button has a width.
 * 10. Require for `a`.
 */

.uis-timepicker-item{
    /* 1 */
    margin-top: 4px;
    margin-top: 4px;
    /* 2 */
    border: none;
    /* 3 */
    border-radius: 100%;
    /* 4 */
    overflow: visible;
    /* 5 */
    font: inherit;
    color: color(default);
    /* 6 */
    text-transform: none;
    /* 7 */
    height: 40px;
    width: 40px;
    display: inline-block;
    box-sizing: border-box;
    padding: 0px;
    vertical-align: middle;
    font-size: 14px;
    background: transparent;
    /* 8 */
    line-height: 40px;
    /* 9 */
    text-align: center;
    /* 10 */
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    border-radius: border(border-radius);
}

.uis-timepicker-item:not(:disabled){
    cursor: pointer;
}

/* Remove margin on last child */
.uis-timepicker-item:last-child{
    margin-right: 0px;
}

/* Hover + active */
.uis-timepicker-item:hover,
.uis-timepicker-item:focus{
    background: #f9f9f9;
    cursor: pointer;
}

/* focus */
.uis-timepicker-item.uis-active{
    outline: none;
    background-color: color(primary);
    color: color(inverse);
    border-color: color(primary);
}
