// Name:            Tooltip
// Description:     Component to create tooltip
//
// Component:       `uis-tooltip-top`
//                  `uis-tooltip-top-left`
//                  `uis-tooltip-top-right`
//                  `uis-tooltip-bottom`
//                  `uis-tooltip-bottom-left`
//                  `uis-tooltip-bottom-right`
//                  `uis-tooltip-left`
//                  `uis-tooltip-right`
//
//
// States:          `uis-active`
//
// ========================================================================


// Variables
// ========================================================================

$tooltip-z-index:                           layer(lightbox) !default;
$tooltip-max-width:                         200px !default;
$tooltip-padding-vertical:                  3px !default;
$tooltip-padding-horizontal:                6px !default;
$tooltip-background:                        color(secondary) !default;
$tooltip-border-radius:                     2px !default;
$tooltip-color:                             color(inverse) !default;
$tooltip-font-size:                         12px !default;

$tooltip-margin:                            10px !default;


/* ==================================================
    Component: Tooltip
   ================================================== */

/*
 * 1. Hide by default
 * 2. Position
 * 3. Dimension
 * 4. Style
 */

.uis-tooltip{
    /* 1 */
    display: none;
    /* 2 */
    position: absolute;
    z-index: $tooltip-z-index;
    /* 3 */
    box-sizing: border-box;
    max-width: $tooltip-max-width;
    padding: $tooltip-padding-vertical $tooltip-padding-horizontal;
    /* 4 */
    background: $tooltip-background;
    border-radius: $tooltip-border-radius;
    color: $tooltip-color;
    font-size: $tooltip-font-size;
}

.uis-tooltip.uis-active{
    display: block;
}

.uis-tooltip:after{
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -6px;
    width: 0;
    height: 0;
    border-top: solid 6px color(secondary);
    border-left: solid 6px transparent;
    border-right: solid 6px transparent;
}


/* Direction / Alignment modifiers
   ================================================== */

/* Direction */
[class*='uis-tooltip-top']{
    margin-top: (-$tooltip-margin);
}

[class*='uis-tooltip-bottom']{ 
    margin-top: $tooltip-margin;
}

[class*='uis-tooltip-left']{
    margin-left: (-$tooltip-margin);
}

[class*='uis-tooltip-right']{
    margin-left: $tooltip-margin;
}