// Name:            Callout
// Description:     Component to call attention
//
// Component:       `uis-callout`
//
// Modifier:        `uis-callout-default`
//                  `uis-callout-primary`
//                  `uis-callout-secondary`
//                  `uis-callout-accent`
//                  `uis-callout-success`
//                  `uis-callout-warning`
//                  `uis-callout-danger`
//
// Sub-objects:     `uis-callout-label`
//
// ========================================================================

// Variables
// ========================================================================

$callout-height:                                    control-height(medium) !default;
$callout-background:                                theme-color(default) !default;
$callout-color:                                     color(default) !default;
$callout-font-size:                                 font-size(small) !default;
$callout-padding-vertical:                          margin(xsmall) !default;
$callout-padding-horizontal:                        gutter(xsmall) !default;
$callout-z-index:                                   layer(navbar) + 10 !default;

$callout-primary-background:                        theme-color(primary) !default;
$callout-primary-color:                             color(inverse) !default;


/* ==================================================
    Component: Callout
   ================================================== */

/*
 * 1. Set position
 * 2. Set Dimension
 * 3. Center the children
 * 4. Style
 */
.uis-callout{
    /* 1 */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: $callout-z-index;
    /* 2 */
    height: $callout-height;
    width: 100%;
    box-sizing: border-box;
    /* 3 */
    display: none;
    align-items: center;
    justify-content: center;
    /* 4 */
    padding: $callout-padding-vertical $callout-padding-horizontal;
    background-color: $callout-background;
    color: $callout-color;
    font-size: $callout-font-size;
}

.uis-callout.uis-open{
    display: flex;
}



/* Color Modifier
   ================================================== */

.uis-callout-primary{
    color: $callout-primary-color;
    background-color: $callout-primary-background;
}



/* Close
   ================================================== */

.uis-callout-close{
    position: absolute;
    top: 0;
    right: 0;
    line-height: $callout-height;
    margin-right: 12px;
    color: color(inverse) !important;
}