
// Name:            Icon
// Description:     Styles for icon
//
// Component:       `li`
//
// Modifiers:       `li-lg`
//                  `li-2x`
//                  `li-3x`
//                  `li-4x`
//                  `li-5x`
//
// ========================================================================  

// Variables
// ========================================================================

$icon-lg-font-size:				1.33333333em;
$icon-2x-font-size:				2em;
$icon-3x-font-size:				3em;
$icon-4x-font-size:				4em;
$icon-5x-font-size:				5em;


/* ==================================================
    Component: Form
   ================================================== */

.li{
	font: normal normal normal 16px/1 LinearIcons;
	font-size: inherit;
	display: inline-block;

	text-decoration: inherit;
	text-rendering: optimizeLegibility;
	text-transform: none;

    -webkit-font-smoothing: antialiased;
}



/* Style Modifier
 ========================================================================== */

.li-lg{
	font-size: $icon-lg-font-size;
	line-height: .75em;
	vertical-align: -15%;
    width: 20px;
}

.li-2x{
    font-size: $icon-2x-font-size;
}

.li-3x{
    font-size: $icon-3x-font-size;
}

.li-4x{
    font-size: $icon-4x-font-size;
}

.li-5x{
    font-size: $icon-5x-font-size;
}