// Name:            Label
// Description:     Component to indicate important notes
//
// Component:       `uis-label`
//
// Modifier:        `uis-label-default`
//                  `uis-label-primary`
//                  `uis-label-secondary`
//                  `uis-label-success`
//                  `uis-label-warning`
//                  `uis-label-danger`
//
// ========================================================================

// Variables
// ========================================================================

$label-padding-vertical:                        0px !default;
$label-padding-horizontal:                      margin(small) !default;
$label-padding-vertical-l:                      4px !default;
$label-padding-horizontal-l:                    (margin(small) + 4px) !default;
$label-border-radius:                           40px;

$label-background:                              $global-muted-background !default;
$label-line-height:                             font(line-height) !default;
$label-font-size:                               font-size(small) !default;
$label-color:                                   color(default) !default;



/* ==================================================
    Component: Label
   ================================================== */

.uis-label{
    display: inline-block;
    padding: $label-padding-vertical $label-padding-horizontal;
    background: $label-background;
    line-height: $label-line-height;
    font-size: $label-font-size;
    color: $label-color;
    vertical-align: middle;
    white-space: nowrap;
    border-radius: $label-border-radius;
    border: 1px solid color(muted);
    font-weight: 500;
    letter-spacing: 1px;
}



/* Size Modifier
   ================================================== */

.uis-label-large{
    padding: $label-padding-vertical-l $label-padding-horizontal-l;
}


/* Style Modifiers
   ================================================== */

.uis-label-primary{
    color: color(primary);
    background-color: transparentize(color(primary), 0.85);
    border-color: color(primary);
}

.uis-label-secondary{
    color: color(secondary);
    background-color: transparentize(color(secondary), 0.85);
    border-color: color(secondary);
}

.uis-label-accent{
    color: color(inverse);
    background-color: darken(theme-color(accent), 2%);
    border: none;
    border-radius: 2px;
}


.uis-label-success{
    color: color(success);
    background-color: transparentize(color(success), 0.85);
    border-color: color(success);
}

.uis-label-warning{
    color: color(warning);
    background-color: transparentize(color(warning), 0.85);
    border-color: color(warning);
}

.uis-label-danger{
    color: color(danger);
    background-color: transparentize(color(danger), 0.85);
    border-color: color(danger);
}
// @include create-modifiers(label);