// Name:            Overlay
// Description:     Component to create content area overlaying image
//
// Modifiers:       `uis-overlay-default`
//                  `uis-overlay-primary`
//
// ========================================================================

// Variables
// ========================================================================

$overlay-padding-horizontal:                    gutter(small) !default;
$overlay-padding-vertical:                      gutter(small) !default;

$overlay-default-background:                    rgba($wrapper, 0.8) !default;

$overlay-primary-background:                    rgba(color(primary), 0.8) !default;
$overlay-primary-color-mode:                    light !default;

$overlay-gradient-background:                   linear-gradient(-135deg, color(primary), $secondary) !default;
$overlay-gradient-opacity:                      0.5 !default;

/* ==================================================
    Component: Overlay
   ================================================== */

.uis-overlay {
    padding: $overlay-padding-vertical $overlay-padding-vertical;
}

/*
 * Removes margin from the last-child
 */

.uis-overlay > :last-child {
    margin-bottom: 0;
}


/* Style Modifiers
   ================================================== */

/*
 * Default
 */

.uis-overlay-default {
    background: $overlay-default-background;
}

/*
 * Primary
 */

.uis-overlay-primary {
    background: $overlay-primary-background;
}

/*
 * Gradient
 */

.uis-overlay-gradient {
    background-image: $overlay-gradient-background;
    opacity: $overlay-gradient-opacity;
}
