// Text colors
@function color($value){
    @if map-has-key($text-color, $value){
        @return map-get($text-color, $value);
    }
    @warn "The key `#{$value}` is no available in the map";
    @return null;
}



// Text colors
@function link-color($value){
    @if map-has-key($link-color, $value){
        @return map-get($link-color, $value);
    }
    @warn "The key `#{$value}` is no available in the map";
    @return null;
}


// background modifiers
@function theme-color($scheme){
    @if map-has-key($theme-color, $scheme){
        @return map-get($theme-color, $scheme);
    }
    @warn "The key `#{$scheme}` is no available in the map";
    @return null;
}



@function font($value){
    @if map-has-key($font, $value){
        @return map-get($font, $value);
    }
    @warn "The key `#{$value}` is no available in the map";
    @return null;
}



@function font-size($value){
    @if map-has-key($font-size, $value){
        @return map-get($font-size, $value);
    }
    @warn "The key `#{$value}` is no available in the map";
    @return null;
}



@function font-weight($value){
    @if map-has-key($font-weight, $value){
        @return map-get($font-weight, $value);
    }
    @warn "The key `#{$value}` is no available in the map";
    @return null;
}



// Used in margin, section, list
@function border($value){
    @if map-has-key($border, $value){
        @return map-get($border, $value);
    }
    @warn "The key `#{$value}` is not available in the map";
    @return null;
}


// Used in margin, section, list
@function box-shadow($value){
    @if map-has-key($box-shadow, $value){
        @return map-get($box-shadow, $value);
    }
    @warn "The key `#{$value}` is not available in the map";
    @return null;
}



// Used in margin, section, list
@function margin($value){
    @if map-has-key($margin, $value){
        @return map-get($margin, $value);
    }
    @warn "The key `#{$value}` is not available in the map";
    @return null;
}



// for grid, column, containers, align, cards and padding
@function gutter($value){
    @if map-has-key($gutter, $value){
        @return map-get($gutter, $value);
    }
    @warn "The key `#{$value}` is not available in the map";
    @return null;
}



// Control Height
@function control-height($value){
    @if map-has-key($control-height, $value){
        @return map-get($control-height, $value);
    }
    @warn "The key `#{$value}` is not available in the map";
    @return null;
}



// Control Height
@function layer($value){
    @if map-has-key($layer, $value){
        @return map-get($layer, $value);
    }
    @warn "The key `#{$value}` is not available in the map";
    @return null;
}



// determiner
@function color-yiq($color){
    $r: red($color);
    $g: green($color);
    $b: blue($color);

    $yiq: (($r * 299) + ($g * 587) + ($b * 144)) / 1000;

    @if($yiq >= $yiq-contrasted-threshold){
        @return $yiq-text-dark;
    }
    @else{
        @return $yiq-text-light;
    }
}